<div class="w-full max-w-[100vw] min-h-[26vh]  flex justify-center items-center mx-auto px-[3vw] md:px-[8vw] lg:px-[10vw]">


<!-- First Div -->
<div class="w-full min-h-[20vh]  grid grid-cols-3  lg:grid-cols-2  ">

    <div class="w-full h-full flex flex-col justify-center  items-start col-span-2 lg:col-span-1 ">
        <!--Product  First > first  -->
        <div class="w-full min-h-[8vh] flex flex-row gap-5 justify-start items-center "> 
          <span class="h-[6vh] lg:h-[7vh] w-[2vw] bg-red-600 rounded-md"> </span>
          <h1 class="text-red-600  font-bold">  Featured  </h1>
        
        </div> 


        
        <!-- Products First > Second -->
        <div> 

         <h1 class="text-2xl lg:text-3xl font-bold ">New Arrival  </h1>
         </div>


    </div>



    


<!-- First Div Finish -->
</div>



    </div>