

<div class="w-full max-w-[100vw] mx-auto min-h-[80vh] px-[3vw] md:px-[8vw] lg:px-[10vw]  flex justify-center items-center ">
<!-- SUb DIv Start -->
<div class="min-w-[30vw] min-[80vh]   bg-slate-200 rounded-md  flex flex-col px-5 py-15 gap-5 ">

   {% form 'reset_customer_password' %}
    <input type="hidden" name="customer[id]" value="{{ customer.id }}">

   
<div>
    <input type="password" placeholder="password" name="password" id="password" required class="w-full p-5  outline-none border my-2 rounded-sm">
  </div>

  
 <div> 
   <input type="password" name="password_confirmation"  placeholder="password_confirmation" id="password_confirmation" required class="w-full p-5  outline-none border my-2 rounded-sm">
 </div>

   <div>
 <button type="submit" class="w-full p-5  outline-none border rounded-sm bg-black text-white font-bold" > Reset Password </button>
    </div>
  {% endform %}



<!-- SUb Div Finish -->

</div>




 
</div>
